---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Fyziomluva - Co nabízím">
    <main class="intro">
        <h1 class="introTitle">Co nabízím</h1>
    </main>
    <section class="section">
        <p>
            <a href="https://www.forendors.cz/fyziomluva"><strong>Forendors</strong></a> je monetizační platforma propojující tvůrce a sledující. To znamená že tam mám svůj profil a vy pokud se chcete dostat k mým příspěvkům, tak si zaplatíte 292 Kč a otevřou se vám tím všechny dostupné příspěvky. V nynější době zde mám přes 40 příspěvků a jsou v nich rozebrány a roztřízeny do jednotlivých kategorií skoro všechny pohybové problémy na které si vzpomenete. Momentálně to je nejlevnější možná forma jakou Vám mohu předat své koncentrované znalosti.
        </p>
        <p>
            Fyzio / pohybové semináře “den bez bolesti.” V minulosti jsem vedla již několik pohybových denních seminářů s mým manželem, pohybovým učitelem v <a href="https://pohybjezivot.cz">pohybjezivot.cz</a>. Pro jejich velký úspěch budeme semináře opakovat i nadále. Místa jsou však velmi omezená, protože chceme zachovat kvalitu a osobní přístup během celého dne ke každému z vás a také možnost se kdykoli na cokoli osobně zeptat. Semináře se konají jak u Prahy tak i na Moravě.
        </p>
        <p>
            Ve webinářích se vždy s dalšími odborníky zabývám tématy které potřebují hlubší vhled do problému.
        </p>
    </section>
</Layout>
<style>
    .intro {
        &::before {
            background: url("/offer-bg.jpg") no-repeat center center;
            background-size: cover;
        }
    }

    @media screen and (max-width: 768px) {
        .intro {
            &::before {
                background: url("/offer-mobile-bg.jpg") no-repeat center center;
                background-size: cover;
            }
        }
    }
</style>