---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Fyziomluva">
	<main class="intro">
		<h1 class="introTitle">Naše zdraví tvoří jednoduché, ale efektivní návyky,<br /> které opakujeme každý den.</h1>
	</main>
	<section class="section">
		<p>
			<a href="./o-mne">O mně</a> - Jmenuji se Zuzana Čejková, jsem fyzioterapeutka a učím vás, jak mít zdravější tělo i duši.
		</p>
		<p>
			<a href="./co-nabizim">Co nabízím</a> - Forendors, webináře, osobní návštěvy, online konzultace, pohybové semináře.
		</p>
	</section>
</Layout>
<style>
	.intro {
		&::before {
			background: url("/intro-bg.jpg") no-repeat center center;
			background-size: cover;
		}
	}

	.introTitle {
		position: relative;
		z-index: 1;
	}

	@media screen and (max-width: 768px) {
		.intro {
			&::before {
				background: url("/intro-mobile-bg.jpg") no-repeat center center;
				background-size: cover;
			}
		}
	}
</style>