---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Fyziomluva - O mně">
    <main class="intro">
        <h1 class="introTitle">O mně</h1>
    </main>
    <section class="section">
        <p>
            Jmenuji se Zuzana Čejková a jsem fyzioterapeutka.
            Deset let jsem se závodně věnovala biatlonu a krátce i triatlonu. Každoročně zvrtnuté kotníky a velké bolesti zad vystřelující do nohy mě přivedly k oči otevírajícímu setkání s fyzioterapeutem, po němž se má intenzivní bolest po pouhém týdnu spolupráce zmírnila. Právě tehdy jsem se rozhodla, že i já bych se chtěla naučit podobným dovednostem.
        </p>
        <p>
            Díky své vysoké citlivosti jsem schopna u klienta či klientky rychle identifikovat, kde vězí jádro jejich psychosomatického problému. A jako matka jsem si vědoma, jak důležité je efektivně využívat zbylý čas tak, aby se mé tělo mělo dobře. Všechny tyto skutečnosti se propisují do mé praxe.
        </p>
        <p>
            Vystudovala jsem fyzioterapii na 3. lékařské fakultě Univerzity Karlovy, kde jsem později pro studenty prvního ročníku také vedla praxe.
            Během studia jsem si udělala kurz fitness trenérky a pracovala jako fyzioterapeutka jak ve fitness tak i fyzioterapeutickém centru. Dále jsem trénovala biatlon a pořádala běžkařské kurzy pro dospělé.
        </p>
        <p>
            Za sedm let své fyzioterapeutické praxe jsem poznala přes tisíc klientů a toto je filozofie mé práce:
        </p>
        <p>
            Razím heslo, že neexistuje zázračná pilulka, jež by naše problémy jako mávnutím kouzelného proutka vyřešila. Pokud pohybový problém trvá např. 7 let, pak bude trvat nejméně 7 měsíců každodenní práce na svém těle aby se problém vyřešil. Klienty se tedy snažím k vést k převzetí zodpovědnosti za své pohybové zdraví a začít u drobných návyků, které samy o sobě dokážou odstartovat velkou změnu.
        </p>
        <p>
            Lidem představuji a vysvětluji během osobních i online konzultací, na forendors a v různých webinářích, tyto čtyři základní pilíře zdraví: <strong>POHYB</strong>, <strong>PSYCHIKU</strong>, <strong>SPÁNEK</strong> a <strong>STRAVU</strong> Rovnováhu mezi těmito čtyřmi pilíři považuji pro naše zdraví za stěžejní.
        </p>
        <p>
            Byla jsem pozvána do podcastů, ve kterých se dozvíte více o tom jak pracuji a kdo jsem:
        </p>
        <p>
            <a href="https://www.margit.cz/035-prevence-a-lecba-pohybem-zuzana-cejkova">https://www.margit.cz/035-prevence-a-lecba-pohybem-zuzana-cejkova</a>
        </p>
        <p>
            <a href="https://www.mujrozhlas.cz/houpacky/tehotenstvi-je-zatezkavaci-zkouska-rika-fyzioterapeutka-kdy-nase-telo-rekne-diteti-ano">https://www.mujrozhlas.cz/houpacky/tehotenstvi-je-zatezkavaci-zkouska-rika-fyzioterapeutka-kdy-nase-telo-rekne-diteti-ano</a>
        </p>
    </section>
</Layout>
<style>
    .intro {
        &::before {
            background: url("/about-bg.jpg") no-repeat center center;
            background-size: cover;
        }
    }

    @media screen and (max-width: 768px) {
        .intro {
            &::before {
                background: url("/about-mobile-bg.jpg") no-repeat center center;
                background-size: cover;
            }
        }
    }
</style>