---
    const pathname = new URL(Astro.request.url).pathname;
    const currentPath = pathname.slice(1);
---
<nav>
    <a class="logo" href="/">Fyziomluva</a>
    <div class="toggleMenu">
        <input type="checkbox" />
        <div class="hamburger"></div>
        <div class="navLinks">
            <a class={currentPath === "o-mne/" ? "active navLink" : "navLink"} href="/o-mne">O mně</a>
            <a class={currentPath === "co-nabizim/" ? "active navLink" : "navLink"} href="/co-nabizim">Co nabízím</a>
            <div class="socialIcons">
                <a class="socialLink" href="https://forendors.cz/fyziomluva">
                    <svg class="socialIcon" viewBox="0 0 35 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.013 31.999V40h1.914c4.385 0 7.94-3.583 7.94-8.001 0-3.93 3.165-7.12 7.065-7.12h10.116c4.384 0 7.94-3.583 7.94-8.002v-1.93H16.925C7.576 14.948 0 22.583 0 32.006L.013 32Z" fill="url(#a)"/><path d="M30.175 0c-2.987 0-5.406 2.438-5.406 5.448v4.547h4.825C32.581 9.995 35 7.557 35 4.547V0h-4.825Z" fill="url(#b)"/><defs><linearGradient id="a" x1="51.37" y1="107.49" x2="88.335" y2="70.542" gradientUnits="userSpaceOnUse"><stop stop-color="#E51139"/><stop offset="1" stop-color="#F6AD12"/></linearGradient><linearGradient id="b" x1="-4.761" y1="40.167" x2="35.433" y2="-.016" gradientUnits="userSpaceOnUse"><stop stop-color="#E51139"/><stop offset="1" stop-color="#F6AD12"/></linearGradient></defs></svg>            </a>
                <a class="socialLink" href="https://instagram.com/fyziomluva">
                    <svg class="socialIcon" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M33.076 9.324a2.4 2.4 0 1 1-4.8 0 2.4 2.4 0 0 1 4.8 0ZM20 26.667a6.667 6.667 0 1 1 0-13.334 6.667 6.667 0 0 1 0 13.334ZM20 9.73C14.328 9.73 9.73 14.328 9.73 20S14.328 30.27 20 30.27 30.27 25.672 30.27 20 25.672 9.73 20 9.73Zm0-6.126c5.34 0 5.973.02 8.082.116 1.95.09 3.009.415 3.713.69.934.362 1.6.795 2.3 1.495.7.7 1.133 1.366 1.496 2.3.274.705.6 1.764.689 3.714.096 2.109.117 2.741.117 8.082 0 5.34-.02 5.972-.117 8.081-.09 1.95-.415 3.01-.689 3.714-.363.933-.796 1.6-1.496 2.3-.7.7-1.366 1.133-2.3 1.496-.704.274-1.763.6-3.713.689-2.11.096-2.742.116-8.082.116-5.34 0-5.973-.02-8.082-.116-1.95-.09-3.009-.415-3.714-.69-.933-.362-1.6-.795-2.3-1.495-.699-.7-1.133-1.366-1.496-2.3-.273-.705-.6-1.764-.688-3.714-.097-2.109-.117-2.741-.117-8.081s.02-5.973.117-8.082c.089-1.95.414-3.01.688-3.714.363-.933.797-1.6 1.497-2.3.7-.7 1.366-1.133 2.3-1.496.704-.274 1.763-.6 3.713-.689 2.11-.096 2.742-.116 8.082-.116ZM20 0c-5.432 0-6.113.023-8.246.12-2.129.098-3.583.436-4.855.93a9.8 9.8 0 0 0-3.542 2.307A9.8 9.8 0 0 0 1.05 6.899C.556 8.172.217 9.625.12 11.754.023 13.887 0 14.568 0 20s.023 6.113.12 8.246c.098 2.129.436 3.582.93 4.855a9.8 9.8 0 0 0 2.307 3.542 9.805 9.805 0 0 0 3.542 2.307c1.273.494 2.726.832 4.855.93 2.133.097 2.814.12 8.246.12s6.113-.023 8.246-.12c2.129-.098 3.582-.436 4.855-.93a9.804 9.804 0 0 0 3.542-2.307 9.804 9.804 0 0 0 2.307-3.542c.494-1.273.832-2.726.93-4.855.097-2.133.12-2.814.12-8.246s-.023-6.113-.12-8.246c-.098-2.129-.436-3.582-.93-4.855a9.805 9.805 0 0 0-2.307-3.542 9.804 9.804 0 0 0-3.542-2.307C31.828.556 30.375.217 28.246.12 26.113.023 25.432 0 20 0Z" fill="url(#c)"/><defs><radialGradient id="c" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(5.972 40.139) scale(51.11)"><stop stop-color="#FFB140"/><stop offset=".256" stop-color="#FF5445"/><stop offset=".599" stop-color="#FC2B82"/><stop offset="1" stop-color="#8E40B7"/></radialGradient></defs></svg>
                </a>
            </div>
        </div>
    </div>
</nav>
<style>
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        background-color: rgba(255, 255, 255, 0.6);
        transition: background-color .3s, box-shadow .3s;

        &.scrolled {
            background-color: rgba(255, 255, 255, 1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    }

    .logo {
        font-size: 40px;
        text-decoration: none;
        transition: color .3s;

        &:hover {
            color: var(--color-text-hover);
        }
    }

    .navLinks {
        display: flex;
        align-items: center;
    }

    .navLink {
        position: relative;
        display: block;
        margin: 0 10px;
        padding: 0 5px;
        line-height: 50px;
        text-decoration: none;
        overflow: hidden;
        transition: color .3s;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 4px;
            background-color: var(--color-main);
            transition: transform 0.3s;
            transform: translateX(-100%);
        }

        &:hover {
            color: var(--color-text-hover);
        }

        &.active {
            cursor: default;
        }

        &.active::before,
        &:hover::before {
            transform: translateX(0);
        }
    }

    .toggleMenu input {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        opacity: 0;
        z-index: 3;
        -webkit-touch-callout: none;
        pointer-events: none;
    }

    .socialLink {
        display: block;
    }

    .socialIcons {
        display: flex;
        align-items: center;
        margin-left: 10px;
        gap: 20px;
        height: 30px;
    }

    .socialIcon {
        display: block;
        height: 30px;
        transition: transform .3s;

        &:hover {
            transform: scale(1.1);
        }
    }

    @media screen and (max-width: 768px) {
        nav {
            padding: 10px 20px;
        }

        .logo {
            font-size: 26px;
        }

        .toggleMenu {
            display: block;
            position: relative;
            z-index: 3;
            width: 40px;
            height: 25px;
            -webkit-user-select: none;
            user-select: none;
        }

        .toggleMenu input {
            pointer-events: all;
        }

        .hamburger {
            position: absolute;
            top: auto;
            bottom: 0;
            width: 40px;
            height: 4px;
            transition-delay: .13s;
            transition-timing-function: cubic-bezier(.55, .055, .675, .19);
            transition-duration: .13s;
            background: var(--color-text);
            border-radius: 4px;
            z-index: 2;

            &::before {
                content: '';
                top: -10px;
                transition: top .12s cubic-bezier(.33333, .66667, .66667, 1) .2s, transform .13s cubic-bezier(.55, .055, .675, .19);
            }

            &::after {
                content: '';
                top: -20px;
                transition: top .2s cubic-bezier(.33333, .66667, .66667, 1) .2s, opacity .1s linear;
            }

            &::before,
            &::after {
                background: var(--color-text);
                position: absolute;
                width: 40px;
                height: 4px;
                transition-timing-function: ease;
                transition-duration: .15s;
                transition-property: transform background;
                border-radius: 4px;
            }
        }

        .toggleMenu input:checked ~ .hamburger {
            transition-delay: .22s;
            transition-timing-function: cubic-bezier(.215, .61, .355, 1);
            transform: translate3d(0, -10px, 0) rotate(-45deg);
        }

        .toggleMenu input:checked ~ .hamburger::before {
            top: 0;
            transition: top .1s cubic-bezier(.33333, 0, .66667, .33333) .16s, transform .13s cubic-bezier(.215, .61, .355, 1) .25s;
            transform: rotate(-90deg);
        }

        .toggleMenu input:checked ~ .hamburger::after {
            top: 0;
            transition: top .2s cubic-bezier(.33333, 0, .66667, .33333), opacity .1s linear .22s;
            opacity: 0;
        }

        .navLinks {
            position: fixed;
            top: 0;
            right: 0;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            height: 100vh;
            width: 300px;
            margin: 0;
            padding: 70px 30px 30px;
            background: #ededed;
            list-style-type: none;
            -webkit-font-smoothing: antialiased;
            transform-origin: 0 0;
            transform: translate(100%, 0);
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        }

        .toggleMenu input:checked ~ .navLinks {
            transform: none;
        }

        .navLink {
            margin: 0 0 10px;
            padding: 0;
            font-size: 18px;
            line-height: 40px;
        }

        .socialIcons {
            margin-top: 10px;
        }
    }
</style>
<script>
    function addClassOnScroll() {
        const nav = document.querySelector('nav');
        const scrollThreshold = 10;

        window.addEventListener('scroll', () => {
            if (window.scrollY > scrollThreshold) {
                nav.classList.add('scrolled');
            } else {
                nav.classList.remove('scrolled');
            }
        });
    }

    addClassOnScroll();
</script>